# Commonly ignored files
.DS_Store
.idea
.vscode

# Build output
/build*
/data
*.so
/out
/cobolcraft
/*.c
/*.d
/*.h
/*.i
callgrind.out.*

# Test files
/test
/test.log

# Application files
/save
/world
/server.properties
/whitelist.json
