name: Test

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        # Ubuntu 24.04 has GnuCOBOL 3.1.2, while Ubuntu 24.10 has GnuCOBOL 3.2.0.
        image-tag: ["24.04", "24.10"]
    container:
      image: ubuntu:${{ matrix.image-tag }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install GnuCOBOL
        run: apt-get update && apt-get install -y gnucobol build-essential zlib1g-dev curl openjdk-21-jre-headless

      - run: cobc --version

      - name: Build
        run: make --jobs $(nproc)

      - name: Run tests
        shell: bash
        run: make test

      - name: Smoke test
        shell: bash
        run: |
          set -eo pipefail
          printf 'stop\n' | make run | tee run.log
          grep -q 'Done!' run.log
          grep -q 'Stopping server' run.log
